

.active {
  background-color: #4CAF50;
}

li a:hover {
  background-color: #cc5200;

}

* {
  box-sizing: border-box;
}

.menu {
  font-family: "Arial";
  font-size: 30px;
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: #e65c00;
}

.main {
  float: left;
  width: 60%;
  padding: 20 20px;
  text-align: center;
}

.right {
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 0px;
  text-align: center;
}

@media only screen and (max-width:620px) {

  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}

.imageright {
    float: right;
}

.imageleft {
  float: left;
}

.foto {
  border: 6px double #9933ff;
  border-radius: 80px;
  padding: 4px;


}

.foto2 {
  border-image: linear-gradient(to bottom, lightblue, indigo);
  border: 8px double;
  border-radius: 20px;
  padding: 5px;
}

img {
  margin-left: 20px;
  border: 4px solid #99ff99;
  border-radius: 60px;
  padding: 5px;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #66d9ff;
  font-weight: none;
  background-image: linear-gradient(to bottom, lightblue, indigo);
  color: white;
}
