table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d9d9d9;
}
tr:nth-child(odd) {
  background-color:  #bfbfbf;
}
th{
  background-color:  #ffffff;
}

.foto{
  border: 2px solid #ddd;
  border-radius: 40px;
  padding: 5px;
}
.form{
  border: 2px solid #ddd;
  border-radius: 40px;
  padding: 5px;
}
div.gallery:hover {
  border: 2px;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0 0 10px 6px orange;
}

#grad {
  background-image: linear-gradient(#00bfff, #9966ff, #400080);
}
